[Unit]
Description=nginx docker service
Requires=docker.grails.service

[Service]
ExecStart=/usr/bin/docker run --rm --name=nginx --network app-net -p 80:80 quay.io/mechevarria/nginx-client:latest
ExecStop=/usr/bin/docker stop nginx
ExecReload=/usr/bin/docker restart nginx

[Install]
WantedBy=multi-user.target
