build
.gradle
node_modules
dist
.tmp
.sass-cache
bower_components
target
.idea
*.war
*.swp
*.original
*.log
*.iml
billDb.sql.gz
mysql-data
solr-core
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.project
.classpath
.factorypath
.settings