<div class="panel panel-default">
    <div class="panel-heading">Add Bill</div>
    <div class="panel-body">
        <form role="form" novalidate name="billForm" ng-submit="doAdd(billForm.$valid, toAdd)">
            <div class="row">
                <div class="col-md-3">
                    <datepicker ng-model="date" datepicker-mode="'month'" min-mode="month" ng-click="setMonthYear(date)"></datepicker>
                </div>
                <div class="col-md-9">
                    <div class="form-group" ng-class="{ 'has-error': billForm.month.$invalid }">
                        <label for="month" class="control-label">Month</label>
                        <input type="text" class="form-control" name="month" ng-model="toAdd.month" required readonly>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': billForm.year.$invalid }">
                        <label for="year" class="control-label">Year</label>
                        <input type="text" class="form-control" name="year" ng-model="toAdd.year" required readonly>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-disabled="billForm.$invalid">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="doCancel()"><i class="fa fa-remove"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
