body {
    padding-top: 90px;
}
.st-sort-ascent:before {
    content: '\25B2';
}
.st-sort-descent:before {
    content: '\25BC';
}
.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}
/* http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-group {
    width: 200px;
}

.input-group-override {
    width: 100% !important;
}

.arrow-padding {
    padding-top: 7px;
}